[Unit]
Description=nexus service
After=network.target
  
[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/opt/sonatype/nexus/bin/nexus start
ExecStop=/opt/sonatype/nexus/bin/nexus stop

User=jelastic
Restart=on-abort
TimeoutSec=600
  
[Install]
WantedBy=multi-user.target